.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  background-color: #40e0d0;
    text-align: justify;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid burlywood;
    width: 100%;
}

#searchInput {
  position: relative;
  left: calc(50% - 14em);
  margin-top: 10px;
  border-radius: 5px;
  width: 15%;
}

ul {
  margin-top: 4%;
  list-style-type: none;
}

#restoreHideTickets{
  margin-left: 10px;
  display:inline-block;
  padding:0.3em 1.2em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  }

  #restoreHideTickets:hover{
  background-color:#4095c6;
  }

  #command{
    position: relative;
    left: calc(50% - 15em);
  }